#always follow requirement.md and development.md for context and guidelines
#always update new implementations &  changes summary in the development.md and readme.md files
#always comment code & functions
